

container_commands:


  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && source /opt/python/current/env && python manage.py collectstatic --settings=testsite.settings_production_aws --noinput"

  04_makemigrations:
    command: "source /opt/python/run/venv/bin/activate && source /opt/python/current/env && python manage.py makemigrations --settings=testsite.settings_production_aws --noinput"

  04_migrate:
    command: "source /opt/python/run/venv/bin/activate && source /opt/python/current/env && python manage.py migrate --settings=testsite.settings_production_aws --noinput"

#  05_loaddata:
#    command: "source /opt/python/run/venv/bin/activate && source /opt/python/current/env && python manage.py loaddata db-crcna-v3.json --settings=testsite.settings_production"

