{% load static %}

<div class="modal fade" id="uploadModal" role="dialog"> 
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Upload Files</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                

            </div>
               <div class="modal-body">

                <div class="card">
                    <form style="padding: 10px;" class="form" 
                    enctype="multipart/form-data" method="POST"
                    action="/sianno/new_files/" >
                        {% csrf_token %}
                        <div class="form-group">
                    
                            <label>Allocated To</label><br>
                            <select name="username" required >
                            
                                {% for u in users %}
                                
                                <option value="{{u.username}}">
                            
                                    {{u.first_name}} {{u.last_name}} ({{u.username}})
                                </option>
                                {% endfor %}
                            
                            </select>
                        </div>
                    
                        <div class="form-group">
                    
                            <label>Purpose (Grading/Assessing)</label><br>
                    <select name="purpose" required >
                        {% for p in purposes %}
                        
                        <option value="{{p}}">
                    
                            {{p}}
                        </option>
                        {% endfor %}
                    
                    </select>
                        </div>
                    
                        <div class="form-group">
                            <label>Image Type:</label><br>
                            <select name="image_type" required >
                                {% for i in image_types %}
                                
                                <option value="{{i}}">
                            
                                    {{i}}
                                </option>
                                {% endfor %}
                            
                            </select>
                            
                        </div>
                    
                        <div class="form-group">
                            <label for="files">Select Images:</label>
                            <br>
                            <input type="file" id="files" name="files" multiple="multiple">
                            
                        </div>             
                    
                    
                    
                    
                    <button class="btn btn-primary" type="submit"><span class="oi oi-cloud-upload"></span> Upload</button>
                    </form>
                </div>
               </div> 
        </div>
    </div>
</div>